<!DOCTYPE html>
<html>
    <head>
        <title>Register | SC0RP</title>
        <script type="text/javascript" src="{{ url_for('static', filename='js/sha256.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </head>
    <body>
        <form action='login' method='POST'>
            <input type='name' name='name' id='name' placeholder='name'/><br>
            <input type='email' name='email' id='email' placeholder='email'/><br>
            <input type='password' name='password' id='password' placeholder='password'/><br>
        </form>
        <input type="button" class="form-submit" value="Submit" onclick="sendRequestRegister()">
    </body>
</html>